RETAILSENSE_MODELS_DIR=./models
RETAILSENSE_ANOMALY_THRESHOLD=2.5
RETAILSENSE_API_VERSION=1.1.0
RETAILSENSE_CORS_ORIGINS=*
RETAILSENSE_MODEL_REGISTRY_PATH=./models/model_registry.json
RETAILSENSE_REQUEST_LOG_ENABLED=true
RETAILSENSE_LOG_LEVEL=INFO
