venv/
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
data/raw/
data/processed/
notebooks/runs/
*.db
*.sqlite
__pycache__/
*.db
*.pkl
*.keras

# AI models trop gros pour Github
models/
churn_random_forest.joblib
